APP_NAME=ServerTechAPI
APP_ENV=local
APP_KEY=base64:RDo/zGyhraQcK3cAQROqlCV3HSXpl17ZCICpLWa25e8=
APP_DEBUG=true
APP_URL=http://localhost:8090

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=servertechsolutions
DB_USERNAME=servertechsolutions
DB_PASSWORD=secret

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
FRONTEND_URL=http://localhost:3010
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:8090,localhost:3010
SESSION_DOMAIN=localhost
SESSION_LIFETIME=120
